
# Use spidev with ELAN devices
ACTION=="add|change", SUBSYSTEM=="spi", ENV{MODALIAS}=="acpi:ELAN7001:", PROGRAM+="/bin/sh -c '/sbin/modprobe spidev && echo spidev > %S%p/driver_override && echo %k > %S%p/subsystem/drivers/spidev/bind'"
ACTION=="add|change", SUBSYSTEM=="spi", ENV{MODALIAS}=="acpi:ELAN70A1:", PROGRAM+="/bin/sh -c '/sbin/modprobe spidev && echo spidev > %S%p/driver_override && echo %k > %S%p/subsystem/drivers/spidev/bind'"
